# Dependencies
.parcel-cache/

node_modules/
package-lock.json

/backend/node_modules/
/backend/package-lock.json

#Keys (Ids and Secrets without "")
.env
app.yaml
/backend/.env
/backend/app.yaml

#Sql Keys
/backend/sql_credentials/reactfscloudsql-9e64e71b4f50.json

#Compiled Styles to CSS
/apps-script/styles_compiled/

#Other Logs
Log_All.js
Log_AppStructure.js
Log_Frontend_ScssFiles.js
Log_Frontend_CompFiles.js
Log_Frontend_Src_Only.js
Log_Backend.js
Log_SelectedFiles.js