// appusers-form.scss

@import "variables.scss";
@import "base.scss";

.form-container {
  width: 80%;
  margin: 0 auto;

  .input-group { 
    display: flex;
    gap: 25px;
   // justify-content: space-between; // This will put space between your two input fields
    margin-bottom: 10px; // Spacing between this group and other elements

    @media screen and (max-width: $tablet) { 
      flex-direction: column;     // Stack elements vertically
      gap: 8px;
    }
  }

  label {
    @include responsiveFontSize(14px);
    flex: 1 1 50%;
    display: flex; 
    flex-direction: column; // Stack label text above the input
    margin-bottom: 8px;

    input, select{
      width: 100%;          // input to fill width of label
      padding: 5px;
      margin-top: 2px; 
      border: 1px solid #ddd;
    }

    select {
      padding: 4px;
      border: 1px solid $teal;
    }
  }

}
