// appusers-table.scss
@import "variables.scss";
@import "mixins.scss";

table {
    .horizontal-table {
        @include responsiveTable_Horizontal;
    }
    
    th.sortable {
        cursor: pointer;
    }
    
    th {
        background-color: $tableheader;     
    }

    .sort-indicator {
        font-size: 0.8em;
        color: $offwhite
    }

    tr:nth-child(even) {
        background-color: $alternativerow;
    }

    tr:hover {
        background-color: $rowhover;
    }

}

