// Bases.scss Global Styles
@import "variables.scss";
@import "mixins.scss"; 

// * {
//     box-sizing: border-box;
// }

.app-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
    min-height: 100vh; // Viewheight for full height
    width: 100%;
}

// Styles for Content Area
.container {
    //padding-top: 140px;
    padding-bottom: 5px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto; // Center the container
    flex: 1;   // Allows container to expand and push the footer down
    //border: 2px solid blue;

    @media screen and (max-width: $mobile) {
        //padding-top: 140px;          // Reduced padding
        //background-color: white;
        //border: 2px solid red;
    }

    .section-title {
        margin-bottom: 8px;
        margin-top: 4px;
        text-align: center;
        font-weight: 600;

        &.sub{ 
            color: $secondaryColor;
            padding-bottom: 0px;

            @media screen and (max-width: $mobile) { 
                color: $offwhite;
            }
        }

    }


}


// @media screen and (max-width: $mobile) {
//     .app-wrapper {
//         background-color: lightblue;
//         max-width: $mobile;
//         margin: 0 auto;
//     }

//     .navUser-wrapper {
//         background-color: black;
//     }

// }


#signInDiv {
    margin: 20px auto;
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 { @include textStyle(24px); }
h2 { @include textStyle(20px, $secondaryColor); }
h3 { @include textStyle(18px); }
p  { @include textStyle(14px, $secondaryColor); }

button, input[type="submit"] {
    @include responsiveFontSize(12px);
    @include buttonStyle;
    margin-top: 5px;
    box-sizing: border-box;
}

button.cancel {
    @include buttonStyle($hover-color: $warning);
    @include responsiveFontSize(12px);
    margin-left: 15px;
}

input, select {
    @include inputSelectStyle;
}

select {
    padding: 4px;
    border: 1px solid $teal;
  }

.successWarning {
    color: $success;
}

.errorWarning {
    color: $warning;
}

.clickable {
    cursor: pointer;
    color: $teal;

    &:hover {
        color: $dark-teal;
    }
}

.tasks-wrapper {
    @include flexCenter;
    //  
}

.svg-inline--fa {
    margin-right: 5px; // Adjust the 8px to your preference
}


.horizontal-table {
    @include responsiveTable_Horizontal;
}

.vertical-table {
    @include responsiveTable_Vertical;
}