@import "./variables.scss";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 22px;
    color: black;
}

p {
    font-size: 16px;
    color: grey;
}

#signInDiv {
    margin: 20px auto;
    text-align: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.button,
input[type="submit"] {
    width: 20%;
    margin-top: 5px;
    background-color: $teal;
    color: $offwhite;
    padding: 10px 20px;
    border: none;
    border-radius: 4px; // Changed from 4 to 4px
    font-weight: 600;

    &:hover {
        background-color: $dark-teal;
      }

    &:disabled {
    background-color: #ccc; // Grey out the button
    color: #666;
    cursor: not-allowed; // Show a 'not-allowed' cursor when hovering over the button
    opacity: 0.5; // Make the button look faded
    }
}

.button.cancel {
    margin-left: 15px;
    width: 20%;
    &:hover {
        background-color: $warning; 
        color: $offwhite;
    }
}

.successWarning{
    color: $success;
}

.errorWarning{
    color: $warning;
}

.clickable{
    cursor: pointer;
    color: $teal;

    &:hover {
        color: $dark-teal;
      }
}

.tasks-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

// Mobile-friendly using media queries
// Styles for Small Screens
@media screen and (max-width: 768px) {
    .container {
        background-color: lightblue;
        max-width: 600px;
        margin: 0 auto;
        padding: 10px;
    }
}