// crm_COMPANY_list.scss
@import "variables.scss";
@import "mixins.scss";

.crm-company-list {
  .section-title {
    margin-bottom: 8px;
    margin-top: 4px;
    text-align: center;
  }

  .company-filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;

    .filter {
      flex-basis: 50%; // Adjust the width!!

      label {
        display: block;
        margin-bottom: 5px;
        text-align: center;
      }

      select {
        @include inputSelectStyle;
        width: 100%;
      }
    }

    .section-btns {
      flex-basis: 10%; // Adjust the width!!
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }

  .crm-company-list .section-btns {
    @include flexCenter;
    margin-bottom: 5px;
    .btn {
      @include buttonStyle(
            $height: 25px, $width: 100%, $padT:0px, $padB: 0px,
            $background-color: $primaryColor);
    }

  }

  .filtered-companies {
    .company-item {
      cursor: pointer;
      padding: 2px;
      border-bottom: 1px solid #ccc;
      transition: background-color 0.3s;

      p {
        color: $primaryColor;
        text-align: center;
      }

      
      &:hover:not(.selected-company) { // .selected-company is NOT present
        background-color: #f0f0f0;
      }

      
      &.selected-company { // when .selected-company IS present
        background-color: $teal; 
        color: $offwhite;

        // &:hover {
        //   background-color: darken(red, 10%);
        // }
      }
    }
  }
}