.crm-order-detail .section-title {
  margin-bottom: 8px;
  margin-top: 4px;
  text-align: center;
}
.crm-order-detail .order-filter {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}
.crm-order-detail .order-filter .filter {
  flex-basis: 50%;
}
.crm-order-detail .order-filter .filter label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
.crm-order-detail .order-filter .filter select {
  width: 100%;
  padding: 5px;
  margin-top: 2px;
  border: 1px solid #ddd;
  width: 100%;
}
.crm-order-detail .order-filter .filter select:focus {
  outline: none;
  border-color: black;
}
.crm-order-detail .order-filter .section-btns {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crm-order-detail .order-filter .section-btns .btn {
  background-color: #26bfd4;
  color: #f6f6f6;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  width: auto;
  height: auto;
  text-align: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.crm-order-detail .order-filter .section-btns .btn:hover {
  background-color: #026F7E;
}
.crm-order-detail .order-filter .section-btns .btn:disabled {
  background-color: #ddd;
  color: #424242;
  cursor: not-allowed;
  opacity: 0.5;
}
.crm-order-detail .filtered-orders .order-item {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.crm-order-detail .filtered-orders .order-item p {
  color: black;
}
.crm-order-detail .filtered-orders .order-item:hover {
  background-color: #f0f0f0;
}
.crm-order-detail .horizontal-table {
  width: 98%;
  border-collapse: collapse;
  margin: 0 auto;
}
.crm-order-detail .horizontal-table th, .crm-order-detail .horizontal-table td {
  font-size: 14px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 768px) {
  .crm-order-detail .horizontal-table th, .crm-order-detail .horizontal-table td {
    font-size: 11.9px;
  }
}
@media screen and (max-width: 600px) {
  .crm-order-detail .horizontal-table th, .crm-order-detail .horizontal-table td {
    font-size: 10.5px;
  }
}
.crm-order-detail .horizontal-table th {
  color: #f6f6f6;
  font-weight: none;
}
.crm-order-detail table {
  width: 100%;
}
.crm-order-detail table .horizontal-table {
  width: 98%;
  border-collapse: collapse;
  margin: 0 auto;
}
.crm-order-detail table .horizontal-table th, .crm-order-detail table .horizontal-table td {
  font-size: 14px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 768px) {
  .crm-order-detail table .horizontal-table th, .crm-order-detail table .horizontal-table td {
    font-size: 11.9px;
  }
}
@media screen and (max-width: 600px) {
  .crm-order-detail table .horizontal-table th, .crm-order-detail table .horizontal-table td {
    font-size: 10.5px;
  }
}
.crm-order-detail table .horizontal-table th {
  color: #f6f6f6;
  font-weight: none;
}
.crm-order-detail table th,
.crm-order-detail table td {
  cursor: pointer;
}
.crm-order-detail table tr:hover {
  background-color: #ddd;
}/*# sourceMappingURL=crm_order_detail.css.map */