// crm_ORDER_details.scss
@import "variables.scss";
@import "mixins.scss";

.crm-order-detail {
    .section-title {
        margin-bottom: 0px;
        margin-top: 15px;
        text-align: center;
        font-weight: 600;
    }

    .order-filter {
        display: flex;
        justify-content: space-around;
        margin-bottom: 8px;

        .filter {
            flex-basis: 50%; // Adjust the width as needed

            label {
                display: block;
                margin-bottom: 5px;
                text-align: center;
            }

            select {
                @include inputSelectStyle;
                width: 100%;
            }
        }

        .section-btns {
            flex-basis: 10%; // Adjust the width as needed
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                @include buttonStyle;
            }
        }
    }

    .filtered-orders {
        .order-item {
            cursor: none;
            padding: 5px;
            border-bottom: 1px solid #ccc;
            background-color: $offwhite;

            p {
                color: $primaryColor;
            }

            &:hover {
                background-color: $offwhite;
            }
        }
    }

    table {
        thead th {
            background-color:$secondaryColor
        }
        
        tbody tr {
             background-color: $offwhite;
            
             td {
                background-color: $offwhite;
             }
      
            &:hover {
                background-color: $offwhite;
            }
        } 

        tfoot .totals-row td {
            background-color: $secondaryColor;
            color: $primaryColor;
            font-size: 80%;
            font-weight: 900;
            padding: none;
            margin: none;
          }
      
    }
}