// crm_COMPANY_details.scss
@import "variables.scss";
@import "mixins.scss";

.crm-company-detail {
    .section-title {
        margin-bottom: 8px;
        margin-top: 4px;
        text-align: center;
        font-weight: 600;
    }
    

    .vertical-table {
        @include responsiveTable_Vertical;
    }

}