// crm_order_list.scss
@import "variables.scss";
@import "mixins.scss";

.crm-order-list {
    .section-title {
        margin-bottom: 8px;
        margin-top: 4px;
        text-align: center;
    }

    .order-filter {
        display: flex;
        justify-content: space-around;
        margin-bottom: 8px;

        .filter {
            flex-basis: 50%; // Adjust the width as needed

            label {
                display: block;
                margin-bottom: 5px;
                text-align: center;
            }

            select {
                @include inputSelectStyle;
                width: 100%;
            }
        }

        .section-btns {
            flex-basis: 10%; // Adjust the width as needed
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .crm-order-list .section-btns {
        @include flexCenter;
        margin-bottom: 5px;
        gap: 20px;
        .btn {
          @include buttonStyle(
                $height: 25px, $width: 25%, $padT:0px, $padB: 0px,
                $background-color: $primaryColor);
        }
    
      }

    .filtered-orders {
        .order-item {
            cursor: pointer;
            padding: 5px;
            border-bottom: 1px solid #ccc;

            p {
                color: $primaryColor;
            }

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }

    .horizontal-table {
        @include responsiveTable_Horizontal;

    }



    table {
        width: 100%; // table stretches to fill the .crm-order-list div

        .horizontal-table {
            @include responsiveTable_Horizontal;
        }

        th,
        td {
            cursor: pointer;
        }

        tr:hover {
            background-color: $lightgrey;
        }
    }
}