.home-wrapper {
    position: relative;
    height: 80vh; // Ensure the div takes full height of the viewport
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 18px;
    color: black;
  }

  .custom-image {
    width: 100%; // Set the width to 100% to make the image expand within its container
    max-width: 600px; // Optionally, set a maximum width for the image
    margin-top: 10px; // Add top margin to separate the image from the text
  }
  