// home.scss
@import "variables.scss";
@import "mixins.scss";

.home-wrapper {
  position: top;
  height: 80vh; // % heigh of viewport
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

    h1 {
      @include responsiveFontSize(36px);
      margin-bottom: 10px;
    }
    
    h3 {
      @include responsiveFontSize(18px);
      color: $primaryColor;
    }
  
    .custom-image {
      width: 100%;
      max-width: 550px;
      margin-top: 10px;
  
      @media screen and (max-width: $mobile) {
        width: 75%;
        max-width: 350px;
        margin-top: 0px;
      }
    }
}
  