// mixins.scss
@import "variables.scss";

@mixin textStyle($size, $color: $primaryColor) {
    @include responsiveFontSize($size);
    color: $color;
}

@mixin cardStyle {
    background-color: $offwhite;
    padding: 10px 20px; //  top&Bottom left&Right // top, right, bottom, left 
    border-radius: 5px;
    box-shadow: 0 0 15px $boxshadow;
    max-width: 100%;
    min-width: 90%;
    margin: 0; // 🚩The "0 auto" was generating a lot of trouble.
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center; // Horiz.
}

@mixin flexLeft {
    display: flex;
    align-items: center;
    justify-content: left; // Horiz.
}

@mixin responsiveTable_Horizontal ($hideCol1: 100, $hideCol2: 100, $hideCol3: 100){
    width: 98%;
    border-collapse: collapse;
    margin: 0 auto;

    th, td {
        @include responsiveFontSize(14px);
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid $lightgrey;
    }

    th {
        color: $offwhite;
        background-color: $tableheader; 
        font-weight: none;
    } 

    tr:nth-child(even) {
        background-color: $alternativerow;
    }

    th.sortable {
        cursor: pointer;
    }

    
    tr:hover {
        background-color: $lightgrey;
    }

    .sort-indicator {
        font-size: 0.8em;
        color: $offwhite;
    }

    @media screen and (max-width: $mobile) {
        th, td {
            &:nth-child(#{$hideCol1}), 
            &:nth-child(#{$hideCol2}),
            &:nth-child(#{$hideCol3}) {
                display: none;
            }
        }
    }
}

@mixin responsiveTable_Vertical {
    width: 98%; 
    border-collapse: collapse;
    margin: 0 auto;

    tr {
        th, td {
            @include responsiveFontSize(14px);
            padding: 8px;
            border-bottom: 1px solid $lightgrey;
            //background-color: $tableheader;
            font-weight: 600;
            word-wrap: break-word;     // Words wrap incell (like in Sheets)
            overflow-wrap: break-word; // Forces long words to wrap incell
        }


        td {
            &:first-child {  // First Col.
                background-color: $tableheader;
                color: $offwhite;
                text-align: right;
            }
            
            &:nth-child(even) { // 2nd col plus+ 
                text-align: left;
                padding-left: 10px; 
            }

            &:nth-child(even):hover {
                background-color: $rowhover;
            }
        }
    }

}


@mixin buttonStyle (
            $background-color: $teal, $color: $offwhite, $hover-color: $dark-teal, 
            $width: auto, $font-weight: 600, $height: auto, $text-align: center,
            $padT: 10px, $padR: 20px, $padB: 10px, $padL: 20px, 
            $border: none, $border-r: 4px) {
    
    background-color: $background-color;
    color: $color;
    padding: $padT $padR $padB $padL;
    border: $border;
    border-radius: $border-r;
    font-weight: $font-weight;
    width: $width;
    height: $height;
    text-align: $text-align;
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: $hover-color;
    }

    &:disabled {
        background-color: $lightgrey;
        color: $disabledColor;
        cursor: not-allowed;
        opacity: 0.5;
    }
}

@mixin inputSelectStyle($width: 98%, $padding: 5px, 
                        $margin-top:2px, $margin-bottom:0px ,
                        $margin-left:0px, $margin-right:0px  ) {
    width: calc(#{$width} - #{$margin-left});
    padding: $padding;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    margin-left: $margin-left;
    margin-right: $margin-right;
    border: 1px solid $lightgrey;
    //text-align: center;

    &:focus {
        outline: none;
        border-color: $primaryColor;
    }
}

@mixin responsiveFontSize($size: 14px) {
    font-size: $size;

    @media screen and (max-width: $mobile) {
        font-size: $size * 0.90;
    }
}