// nav.scss 
@import "variables.scss";
@import "mixins.scss"; 

.auth-wrapper {
  width: 100%;
}

.nav-wrapper {
    @include cardStyle;
    width: 90%;
    display: flex;
    justify-content: space-evenly; // equal space between them
    margin-top: 20px;
  
    .nav-link {
      @include responsiveFontSize(17px);
      text-decoration: none;
      color: $teal;
      font-weight: bold;
      transition: color 0.3s ease;
  
      &:hover {
        color: $dark-teal;
      }
      
      &:not(:last-child) {
        @media screen and (max-width: $tablet) {
         margin-right: 10px; // right margin to separate links
         
        }
      }
    }

  @media screen and (max-width: $tablet) {
    background-color: red;
  }

}
  