// nav.scss 
@import "variables.scss";
@import "mixins.scss"; 

.auth-wrapper {
  width: 100%;
}

.nav-wrapper {
    @include cardStyle;
    width: 98%;  // 🚩🚩 SHOW NOT BE HERE. DRIVES ME CRAZY!!!!!!!!!!
    display: flex;
    justify-content: space-evenly; // equal space between them
    margin-top: 20px;
  
    .nav-link {
      @include responsiveFontSize(17px);
      text-decoration: none;
      color: $teal;
      font-weight: bold;
      transition: color 0.3s ease;
  
      &:hover {
        color: $dark-teal;
      }
      
      &:not(:last-child) {
        @media screen and (max-width: $mobile) {
         margin-right: 10px; // right margin to separate links
         
        }
      }
    }

    .active-link {
      color:  $blue;
      font-weight: 700; 
    }

  @media screen and (max-width: $mobile) {
    background-color: $warning;
  }

}
  