// src/styles/popupDetail.scss
@import "variables.scss";
@import "mixins.scss";

.popup-container {
    position: fixed;
    top: 70;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blurred;
    flex-direction: column;

    @media screen and (max-width: $mobile) {
        top: 90; 
    }

    .popup-header  {
        background-color: $dark-teal;
        color: $offwhite;
        padding: 5px 20px;
        padding: 10px;
       

        h3 {
            color: white;
            margin: 0;
            font-size: 1.2em;
        }

    }

    .popup-content {
        background-color: $offwhite;
        padding: 20px;
        border-radius: 8px;
        max-width: 500px;
        width: 100%;
        border: solid 5px $dark-teal;

        .product-name {
            display: flex;
            justify-content: space-between;
            background-color: $dark-teal;
            color: $offwhite;
            padding: 5px;
            font-weight: bold;
        }

        .product-description {
            margin-top: 10px;
        }

        p {
            margin: 8px 0;
            color: $primaryColor;
            line-height: 1.5;
            text-align: center;

            strong {
                font-weight: 600;
            }
        }

        .product-image {
            img {
                max-width: 500px;
                max-height: 350px;
                width: auto;
                height: auto;
                display: block; // Center image
                margin: 0 auto; // Center image
                margin-top: 5px;
                border: solid 1px $dark-teal;
                border-radius: 10px;

                @media screen and (max-width: $mobile) {
                    max-height: 250px;
                }
            }
        }

        @media screen and (max-width: $mobile) {
            max-width: 85%; 
        }
    }
}