// src/styles/popupDetail.scss
@import "variables.scss";
@import "mixins.scss";
// src/styles/popupDetail.scss
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blurred;
    flex-direction: column;

    .popup-header  {
        background-color: $dark-teal;
        color: $offwhite;
        padding: 5px 20px;
        padding: 10px;
       

        h3 {
            color: white;
            margin: 0;
            font-size: 1.2em;
        }

        button {
            background: none;
            border: none;
            font-size: 1.2em;
            cursor: pointer;

            &:hover {
                color: #e0e0e0;
            }
        }
    }

    .popup-content {
        background-color: $offwhite;
        padding: 20px;
        border-radius: 8px;
        max-width: 500px;
        width: 100%;

        .product-name {
            display: flex;
            justify-content: space-between;
            background-color: $teal;
            color: $offwhite;
            padding: 5px;
            font-weight: bold;
        }

        .product-description {
            margin-top: 10px;
        }

        p {
            margin: 8px 0;
            color: $primaryColor;
            line-height: 1.5;
            text-align: center;

            strong {
                font-weight: 600;
            }
        }

        .product-image {
            img {
                max-width: 350px;
                max-height: 350px;
                width: auto;
                height: auto;
                display: block; // Center image
                margin: 0 auto; // Center image
            }
        }
    }
}