// popup.scss
@import "variables.scss";
@import "mixins.scss";

.fpopup-container {
    @include flexCenter;
    position: fixed; //Fixed relative to viewport
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blurred;
    z-index: 1000; // High z-index so it goes above all other content.

    .fpopup-header {
      background: $offwhite;
      padding: 20px;
      border-radius: 10px;
      position: relative; // Position relative: for close button
      z-index: 1001; // Even higher
    }
  
    .fpopup-content {
      text-align: left;
      padding: 5px 20px 5px 5px;  // top, right, bottom, left
      background-color: $secondaryColor;
      border-radius: 10px;
      margin-bottom: 10px;
      max-width: 400px;
      width: 100%;
    }
    
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      background: none;
      font-size: 20px;
      border: 1px solid $lightgrey;
    }

    @media screen and (max-width: $mobile) {
      max-width: 100%; 
  }
  
  }
  

  