// Text
$primaryColor: black;
$secondaryColor: grey;
$disabledColor: #666;


$teal: #26bfd4;
$dark-teal: #1a6d7a;
$charcoal: #7b7c7e;
$offwhite: #f6f6f6;
$blue: #008dff;
$success: rgb(61, 153, 0);
$warning: #ff3030;
$grey: #8a8a8a;

$tablet: 768px;
$mobile: 600px;