.app-wrapper {
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
}

.container {
  flex: 1;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 5px;
}

.container .section-title {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 600;
}

.container .section-title.sub {
  color: gray;
  padding-bottom: 0;
}

@media screen and (width <= 600px) {
  .container .section-title.sub {
    color: #f6f6f6;
  }
}

#signInDiv {
  text-align: center;
  margin: 20px auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #000;
  font-size: 24px;
}

@media screen and (width <= 600px) {
  h1 {
    font-size: 21.6px;
  }
}

h2 {
  color: gray;
  font-size: 20px;
}

@media screen and (width <= 600px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  color: #000;
  font-size: 18px;
}

@media screen and (width <= 600px) {
  h3 {
    font-size: 16.2px;
  }
}

p {
  color: gray;
  font-size: 14px;
}

@media screen and (width <= 600px) {
  p {
    font-size: 12.6px;
  }
}

button, input[type="submit"] {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 5px;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

@media screen and (width <= 600px) {
  button, input[type="submit"] {
    font-size: 10.8px;
  }
}

button:hover, input[type="submit"]:hover {
  background-color: #026f7e;
}

button:disabled, input[type="submit"]:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

button.cancel {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 15px;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

button.cancel:hover {
  background-color: #ff3030;
}

button.cancel:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

@media screen and (width <= 600px) {
  button.cancel {
    font-size: 10.8px;
  }
}

input, select {
  border: 1px solid #ddd;
  width: 98%;
  margin: 2px 0 0;
  padding: 5px;
}

input:focus, select:focus {
  border-color: #000;
  outline: none;
}

select {
  border: 1px solid #26bfd4;
  padding: 4px;
}

.successWarning {
  color: #3d9900;
}

.errorWarning {
  color: #ff3030;
}

.clickable {
  cursor: pointer;
  color: #26bfd4;
}

.clickable:hover {
  color: #026f7e;
}

.tasks-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.svg-inline--fa {
  margin-right: 5px;
}

.horizontal-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.horizontal-table th, .horizontal-table td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

@media screen and (width <= 600px) {
  .horizontal-table th, .horizontal-table td {
    font-size: 12.6px;
  }
}

.horizontal-table th {
  color: #f6f6f6;
  font-weight: none;
  background-color: #464646;
}

.horizontal-table th:first-child {
  border-top-left-radius: 5px;
}

.horizontal-table th:last-child {
  border-top-right-radius: 5px;
}

.horizontal-table tr:nth-child(2n) {
  background-color: #f2f2f2;
}

.horizontal-table th.sortable {
  cursor: pointer;
}

.horizontal-table tr:hover {
  background-color: #ddd;
}

.horizontal-table .sort-indicator {
  color: #f6f6f6;
  font-size: .8em;
}

@media screen and (width <= 600px) {
  .horizontal-table th:nth-child(100), .horizontal-table th:nth-child(100), .horizontal-table th:nth-child(100), .horizontal-table td:nth-child(100), .horizontal-table td:nth-child(100), .horizontal-table td:nth-child(100) {
    display: none;
  }
}

.vertical-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.vertical-table tr th, .vertical-table tr td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (width <= 600px) {
  .vertical-table tr th, .vertical-table tr td {
    font-size: 12.6px;
  }
}

.vertical-table tr td:first-child {
  color: #f6f6f6;
  text-align: right;
  background-color: #3d9900;
}

.vertical-table tr td:nth-child(2n) {
  text-align: left;
  padding-left: 10px;
}

.vertical-table tr td:nth-child(2n):hover {
  background-color: #f5f5f5;
}

.auth-wrapper {
  width: 100%;
}

.nav-wrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
  justify-content: space-evenly;
  width: 98%;
  min-width: 90%;
  max-width: 100%;
  margin: 10px 0 0;
  padding: 10px 0;
  display: flex;
  box-shadow: 0 0 15px #00000019;
}

.nav-wrapper .nav-link {
  color: #26bfd4;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  transition: color .3s;
}

@media screen and (width <= 600px) {
  .nav-wrapper .nav-link {
    font-size: 15.3px;
  }
}

.nav-wrapper .nav-link:hover {
  color: #026f7e;
}

@media screen and (width <= 600px) {
  .nav-wrapper .nav-link:not(:last-child) {
    margin-right: 0;
  }
}

.nav-wrapper .active-link {
  color: #015661;
  font-weight: 700;
}

.fpopup-container {
  z-index: 1000;
  background: #00000080;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0;
}

.fpopup-container .fpopup-header {
  z-index: 1001;
  background: #f6f6f6;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.fpopup-container .fpopup-content {
  text-align: left;
  background-color: gray;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  padding: 5px 20px 5px 5px;
}

.fpopup-container .close-btn {
  cursor: pointer;
  background: none;
  border: 1px solid #ddd;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (width <= 600px) {
  .fpopup-container {
    max-width: 100%;
  }
}

.auth-wrapper {
  width: 100%;
}

.auth-wrapper .allLogin {
  padding: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.auth-wrapper .allLogin #googleLogIn {
  padding-top: 1%;
}

.auth-wrapper .userNav-wrapper {
  box-sizing: border-box;
  z-index: 900;
  background-color: #f6f6f6;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 90%;
  max-width: 100%;
  margin: 0;
  padding: 4px 0;
  display: flex;
  position: fixed;
  top: 0;
  box-shadow: 0 0 15px #00000019;
}

@media screen and (width <= 600px) {
  .auth-wrapper .userNav-wrapper {
    justify-content: center;
    display: flex;
  }
}

.auth-wrapper .hamburger-menu {
  z-index: 1500;
  color: #26bfd4;
  cursor: pointer;
  font-size: 45px;
  display: block;
  position: fixed;
  top: 5px;
  right: 20px;
}

@media screen and (width <= 600px) {
  .auth-wrapper .hamburger-menu {
    color: #026f7e;
  }
}

.auth-wrapper .google-login {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
}

.auth-wrapper .user-wrapper {
  text-align: center;
}

.auth-wrapper .user-wrapper .user-details {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  display: flex;
}

.auth-wrapper .user-wrapper .user-details .user-avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.auth-wrapper .user-wrapper .user-details .user-text {
  text-align: center;
}

.auth-wrapper .user-wrapper .user-details .user-text h3, .auth-wrapper .user-wrapper .user-details .user-text p {
  margin: 0;
}

.auth-wrapper .user-wrapper .user-details .sign-out {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.auth-wrapper .user-wrapper .user-details .sign-out-button {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 5px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

@media screen and (width <= 600px) {
  .auth-wrapper .user-wrapper .user-details .sign-out-button {
    font-size: 10.8px;
  }
}

.auth-wrapper .user-wrapper .user-details .sign-out-button:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.auth-wrapper .user-wrapper .user-details .sign-out-button:hover {
  background-color: #ff3030;
}

.oauth-form-container {
  box-shadow: 0 0 15px #00000019;
  box-shadow: none;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-width: 90%;
  max-width: 95%;
  margin: 5px auto;
  padding: 10px 0;
  display: flex;
}

.oauth-form-container form {
  width: 100%;
}

.oauth-form-container form .input-group {
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.oauth-form-container form .input-group label {
  color: gray;
  min-width: 350px;
  max-width: 350px;
  font-size: 14px;
}

@media screen and (width <= 600px) {
  .oauth-form-container form .input-group label {
    font-size: 12.6px;
  }
}

.oauth-form-container form .input-group input[type="text"], .oauth-form-container form .input-group input[type="email"], .oauth-form-container form .input-group input[type="password"] {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  margin-bottom: 12px;
  padding: 5px;
}

.oauth-form-container .signLogButton {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
}

.oauth-form-container .signLogButton button {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-right: 15px;
  padding: 15px 20px;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

.oauth-form-container .signLogButton button:hover {
  background-color: #026f7e;
}

.oauth-form-container .signLogButton button:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.oauth-form-container .error, .oauth-form-container .success {
  color: gray;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

@media screen and (width <= 600px) {
  .oauth-form-container .error, .oauth-form-container .success {
    font-size: 12.6px;
  }
}

.oauth-form-container .error {
  color: #ff3030;
  font-size: 14px;
}

@media screen and (width <= 600px) {
  .oauth-form-container .error {
    font-size: 12.6px;
  }
}

.oauth-form-container .success {
  color: #3d9900;
  font-size: 14px;
}

@media screen and (width <= 600px) {
  .oauth-form-container .success {
    font-size: 12.6px;
  }
}

.home-wrapper {
  position: top;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  display: flex;
}

.home-wrapper h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

@media screen and (width <= 600px) {
  .home-wrapper h1 {
    font-size: 32.4px;
  }
}

.home-wrapper h3 {
  color: #000;
  font-size: 18px;
}

@media screen and (width <= 600px) {
  .home-wrapper h3 {
    font-size: 16.2px;
  }
}

.home-wrapper .custom-image {
  width: 100%;
  max-width: 550px;
  margin-top: 10px;
}

@media screen and (width <= 600px) {
  .home-wrapper .custom-image {
    width: 75%;
    max-width: 350px;
    margin-top: 0;
  }
}

.unverified {
  padding-top: 70px;
}

.container, .container .tasks-wrapper, .container .users-wrapper {
  width: 100%;
}

.container .section-title {
  text-align: center;
  padding: 10px;
}

.container .component-wrapper {
  flex-wrap: wrap;
  gap: 15px;
  display: flex;
  box-shadow: 0 0 15px #00000019;
}

.container .component-wrapper .form-container {
  flex: 0 0 25%;
  padding-right: 5px;
  box-shadow: 0 0 15px #00000019;
}

@media (width <= 600px) {
  .container .component-wrapper .form-container {
    flex: 0 0 100%;
  }
}

.container .component-wrapper .horizontal-table-container {
  flex: 1;
  box-shadow: 0 0 15px #00000019;
}

.container .component-wrapper .horizontal-table-container .appusers-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.container .component-wrapper .horizontal-table-container .appusers-table th, .container .component-wrapper .horizontal-table-container .appusers-table td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

@media screen and (width <= 600px) {
  .container .component-wrapper .horizontal-table-container .appusers-table th, .container .component-wrapper .horizontal-table-container .appusers-table td {
    font-size: 12.6px;
  }
}

.container .component-wrapper .horizontal-table-container .appusers-table th {
  color: #f6f6f6;
  font-weight: none;
  background-color: #464646;
}

.container .component-wrapper .horizontal-table-container .appusers-table th:first-child {
  border-top-left-radius: 5px;
}

.container .component-wrapper .horizontal-table-container .appusers-table th:last-child {
  border-top-right-radius: 5px;
}

.container .component-wrapper .horizontal-table-container .appusers-table tr:nth-child(2n) {
  background-color: #f2f2f2;
}

.container .component-wrapper .horizontal-table-container .appusers-table th.sortable {
  cursor: pointer;
}

.container .component-wrapper .horizontal-table-container .appusers-table tr:hover {
  background-color: #ddd;
}

.container .component-wrapper .horizontal-table-container .appusers-table .sort-indicator {
  color: #f6f6f6;
  font-size: .8em;
}

@media screen and (width <= 600px) {
  .container .component-wrapper .horizontal-table-container .appusers-table th:nth-child(3), .container .component-wrapper .horizontal-table-container .appusers-table th:nth-child(4), .container .component-wrapper .horizontal-table-container .appusers-table th:nth-child(100), .container .component-wrapper .horizontal-table-container .appusers-table td:nth-child(3), .container .component-wrapper .horizontal-table-container .appusers-table td:nth-child(4), .container .component-wrapper .horizontal-table-container .appusers-table td:nth-child(100) {
    display: none;
  }
}

.container .component-wrapper .horizontal-table-container .customers-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.container .component-wrapper .horizontal-table-container .customers-table th, .container .component-wrapper .horizontal-table-container .customers-table td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

@media screen and (width <= 600px) {
  .container .component-wrapper .horizontal-table-container .customers-table th, .container .component-wrapper .horizontal-table-container .customers-table td {
    font-size: 12.6px;
  }
}

.container .component-wrapper .horizontal-table-container .customers-table th {
  color: #f6f6f6;
  font-weight: none;
  background-color: #464646;
}

.container .component-wrapper .horizontal-table-container .customers-table th:first-child {
  border-top-left-radius: 5px;
}

.container .component-wrapper .horizontal-table-container .customers-table th:last-child {
  border-top-right-radius: 5px;
}

.container .component-wrapper .horizontal-table-container .customers-table tr:nth-child(2n) {
  background-color: #f2f2f2;
}

.container .component-wrapper .horizontal-table-container .customers-table th.sortable {
  cursor: pointer;
}

.container .component-wrapper .horizontal-table-container .customers-table tr:hover {
  background-color: #ddd;
}

.container .component-wrapper .horizontal-table-container .customers-table .sort-indicator {
  color: #f6f6f6;
  font-size: .8em;
}

@media screen and (width <= 600px) {
  .container .component-wrapper .horizontal-table-container .customers-table th:nth-child(5), .container .component-wrapper .horizontal-table-container .customers-table th:nth-child(9), .container .component-wrapper .horizontal-table-container .customers-table th:nth-child(100), .container .component-wrapper .horizontal-table-container .customers-table td:nth-child(5), .container .component-wrapper .horizontal-table-container .customers-table td:nth-child(9), .container .component-wrapper .horizontal-table-container .customers-table td:nth-child(100) {
    display: none;
  }
}

.form-container {
  width: 100%;
  margin: 0 auto;
}

.form-container .buttons-and-warnings {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -4px;
  margin-bottom: 15px;
  display: flex;
}

.form-container .buttons-and-warnings .buttons-container {
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}

.form-container label {
  flex-direction: column;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  display: flex;
}

@media screen and (width <= 600px) {
  .form-container label {
    margin-bottom: 12px;
    font-size: 12.6px;
  }
}

.form-container label input[type="text"], .form-container label select {
  box-sizing: border-box;
  border: 1px solid #26bfd4;
  width: 100%;
  margin-left: 5px;
  padding: 4px;
}

.form-container label .multi-selector {
  width: 100%;
  height: 10rem;
}

.customer-select {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.customer-select .faicon {
  cursor: pointer;
  color: #26bfd4;
}

.popup-container .popup-content {
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  display: flex;
}

.popup-container .popup-content input {
  border: 1px solid #000;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 10px;
}

.popup-container .popup-footer {
  justify-content: center;
  width: 100%;
  display: flex;
}

.popup-container .popup-footer .btn {
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding: 10px 20px;
}

.popup-container .popup-footer .btn:hover {
  background-color: #16717e;
}

@media screen and (width <= 600px) {
  .popup-container {
    max-width: 100%;
  }
}

.footer-container {
  background-color: #f6f6f6;
  width: 100%;
}

.footer-container .footer-wrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 90%;
  max-width: 100%;
  min-height: 75px;
  margin: 8px 0 0;
  padding: 10px 0;
  display: grid;
  box-shadow: 0 0 15px #00000019;
}

.footer-container .footer-wrapper .footer-Col {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

@media screen and (width <= 600px) {
  .footer-container .footer-wrapper .footer-Col:nth-child(2) {
    margin-top: -25px;
    margin-bottom: -20px;
  }

  .footer-container .footer-wrapper {
    grid-template-columns: 1fr;
  }

  .footer-container .footer-wrapper .footer {
    max-width: 100%;
  }
}

.crm-company-list .company-filter {
  justify-content: space-around;
  margin-bottom: 8px;
  display: flex;
}

.crm-company-list .company-filter .filter {
  flex-basis: 50%;
  justify-content: center;
  display: flex;
}

.crm-company-list .company-filter .filter label {
  text-align: center;
  color: #026f7e;
  margin-bottom: 5px;
  font-size: 12px;
  display: block;
}

.crm-company-list .company-filter .filter select {
  text-align: center;
  border: 1px solid #ddd;
  width: 95%;
  margin: 2px 0 0;
  padding: 5px;
}

.crm-company-list .company-filter .filter select:focus {
  border-color: #000;
  outline: none;
}

.crm-company-list .crm-company-list .section-btns {
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  display: flex;
}

.crm-company-list .crm-company-list .section-btns .btn {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 25px;
  padding: 0 20px;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

.crm-company-list .crm-company-list .section-btns .btn:hover {
  background-color: #026f7e;
}

.crm-company-list .crm-company-list .section-btns .btn:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.crm-company-list .filtered-companies .company-item {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  margin: 4px;
  padding: 1px;
  font-weight: 600;
  transition: background-color .3s;
}

.crm-company-list .filtered-companies .company-item p {
  color: #000;
  text-align: center;
}

.crm-company-list .filtered-companies .company-item:hover:not(.selected-company) {
  background-color: #f6f6f6;
}

.crm-company-list .filtered-companies .company-item.selected-company {
  background-color: #3d9900;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.crm-company-list .filtered-companies .company-item.selected-company p {
  color: #f6f6f6;
}

.crm-company-list .filtered-companies .inactive-company p {
  color: #ff6868;
  font-style: italic;
}

.crm-company-list .filtered-companies .company-item.inactive-company.selected-company {
  background-color: #ff6868;
  border-radius: 5px;
}

.crm-company-list .filtered-companies .company-item.inactive-company.selected-company p {
  color: #f6f6f6;
}

.crm-company-details .vertical-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.crm-company-details .vertical-table tr th, .crm-company-details .vertical-table tr td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (width <= 600px) {
  .crm-company-details .vertical-table tr th, .crm-company-details .vertical-table tr td {
    font-size: 12.6px;
  }
}

.crm-company-details .vertical-table tr td:first-child {
  color: #f6f6f6;
  text-align: right;
  background-color: #3d9900;
}

.crm-company-details .vertical-table tr td:nth-child(2n) {
  text-align: left;
  padding-left: 10px;
}

.crm-company-details .vertical-table tr td:nth-child(2n):hover {
  background-color: #f5f5f5;
}

.crm-company-details .vertical-table.inactive-company tr td:first-child {
  background-color: #ff6868;
}

.crm-order-list .order-filter {
  justify-content: space-around;
  margin-bottom: 8px;
  display: flex;
}

.crm-order-list .order-filter .filter {
  flex-basis: 45%;
  justify-content: center;
  display: flex;
}

.crm-order-list .order-filter .filter label {
  text-align: center;
  color: #026f7e;
  margin-bottom: 5px;
  font-size: 12px;
  display: block;
}

.crm-order-list .order-filter .filter select {
  text-align: center;
  border: 1px solid #ddd;
  width: 95%;
  margin: 2px 0 0;
  padding: 5px;
}

.crm-order-list .order-filter .filter select:focus {
  border-color: #000;
  outline: none;
}

.crm-order-list .order-filter .section-btns {
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.crm-order-list .crm-order-list .section-btns {
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  display: flex;
}

.crm-order-list .crm-order-list .section-btns .btn {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25px;
  padding: 0 20px;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

.crm-order-list .crm-order-list .section-btns .btn:hover {
  background-color: #026f7e;
}

.crm-order-list .crm-order-list .section-btns .btn:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.crm-order-list .crm-order-list .section-btns .downloader {
  color: #026f7e;
  background-color: #fff;
  border: 1px solid #000;
  width: 20%;
  transition: color .2s;
}

.crm-order-list .crm-order-list .section-btns .downloader:hover {
  color: #ff3030;
  background-color: #fff;
}

.crm-order-list .crm-order-list .section-btns a {
  color: #026f7e;
  background-color: none;
  font-size: 16px;
}

@media screen and (width <= 600px) {
  .crm-order-list .crm-order-list .section-btns a {
    font-size: 14.4px;
  }
}

.crm-order-list .crm-order-list .section-btns span {
  color: #026f7e;
  font-size: 16px;
}

@media screen and (width <= 600px) {
  .crm-order-list .crm-order-list .section-btns span {
    font-size: 14.4px;
  }
}

.crm-order-list .filtered-orders .order-item {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.crm-order-list .filtered-orders .order-item p {
  color: #000;
}

.crm-order-list .filtered-orders .order-item:hover {
  background-color: #f0f0f0;
}

.crm-order-list table th, .crm-order-list table td {
  cursor: pointer;
}

.crm-order-detail .order-filter {
  justify-content: space-around;
  margin-bottom: 8px;
  display: flex;
}

.crm-order-detail .order-filter .filter {
  flex-basis: 50%;
}

.crm-order-detail .order-filter .filter label {
  text-align: center;
  margin-bottom: 5px;
  display: block;
}

.crm-order-detail .order-filter .filter select {
  border: 1px solid #ddd;
  width: 100%;
  margin: 2px 0 0;
  padding: 5px;
}

.crm-order-detail .order-filter .filter select:focus {
  border-color: #000;
  outline: none;
}

.crm-order-detail .order-filter .section-btns {
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.crm-order-detail .order-filter .section-btns .btn {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 15px 20px;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

.crm-order-detail .order-filter .section-btns .btn:hover {
  background-color: #026f7e;
}

.crm-order-detail .order-filter .section-btns .btn:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.crm-order-detail .filtered-orders .order-item {
  cursor: none;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.crm-order-detail .filtered-orders .order-item p {
  color: #000;
}

.crm-order-detail .filtered-orders .order-item:hover {
  background-color: #f6f6f6;
}

.crm-order-detail table thead th {
  background-color: gray;
}

.crm-order-detail table tbody tr, .crm-order-detail table tbody tr td, .crm-order-detail table tbody tr:hover {
  background-color: #f6f6f6;
}

.crm-order-detail table tfoot .totals-row td:first-child {
  border-bottom-left-radius: 5px;
}

.crm-order-detail table tfoot .totals-row td:last-child {
  border-bottom-right-radius: 5px;
}

.crm-order-detail table tfoot .totals-row td {
  color: #000;
  padding: none;
  margin: none;
  background-color: gray;
  font-size: 80%;
  font-weight: 900;
}

.popup-container {
  background-color: #00000080;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 70px 0 0;
}

@media screen and (width <= 600px) {
  .popup-container {
    top: 90px;
  }
}

.popup-container .popup-header {
  color: #f6f6f6;
  background-color: #026f7e;
  padding: 10px;
}

.popup-container .popup-header h3 {
  color: #fff;
  margin: 0;
  font-size: 1.2em;
}

.popup-container .popup-content {
  background-color: #f6f6f6;
  border: 5px solid #026f7e;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.popup-container .popup-content .product-name {
  color: #f6f6f6;
  background-color: #026f7e;
  justify-content: space-between;
  padding: 5px;
  font-weight: bold;
  display: flex;
}

.popup-container .popup-content .product-description {
  margin-top: 10px;
}

.popup-container .popup-content p {
  color: #000;
  text-align: center;
  margin: 8px 0;
  line-height: 1.5;
}

.popup-container .popup-content p strong {
  font-weight: 600;
}

.popup-container .popup-content .product-image img {
  border: 1px solid #026f7e;
  border-radius: 10px;
  width: auto;
  max-width: 500px;
  height: auto;
  max-height: 350px;
  margin: 5px auto 0;
  display: block;
}

@media screen and (width <= 600px) {
  .popup-container .popup-content .product-image img {
    max-height: 250px;
  }

  .popup-container .popup-content {
    max-width: 85%;
  }
}

.input, select {
  border: 1px solid #ddd;
  width: 98%;
  margin: 2px 0 0;
  padding: 5px;
}

.input:focus, select:focus {
  border-color: #000;
  outline: none;
}

.container {
  flex-direction: column;
  width: 99%;
  height: 100%;
  display: flex;
}

.crm-main {
  flex-grow: 1;
  gap: 5px;
  margin: 0;
  display: flex;
}

@media screen and (width <= 600px) {
  .crm-main {
    flex-direction: column;
  }
}

.crm-companies {
  border: 1px solid gray;
  border-radius: 5px;
  flex-direction: column;
  flex-basis: 25%;
  display: flex;
}

.crm-orders {
  border: 1px solid gray;
  border-radius: 5px;
  flex-direction: column;
  flex-basis: 75%;
  display: flex;
}

@media screen and (width <= 600px) {
  .crm-companies, .crm-orders {
    flex-basis: auto;
    width: 100%;
  }
}

.crm-companies .not-found, .crm-orders .not-found {
  text-align: center;
  color: #ff3030;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
}

.crm-companies .not-found.no-companyId, .crm-orders .not-found.no-companyId {
  color: gray;
}

@media screen and (width <= 600px) {
  .crm-companies .not-found, .crm-orders .not-found {
    color: #f6f6f6;
  }

  .crm-companies .not-found.companies, .crm-orders .not-found.companies {
    color: #ff3030;
  }
}

.crm-company-list, .crm-company-details, .crm-order-list, .crm-order-detail {
  min-height: 175px;
}

@media screen and (width <= 600px) {
  .crm-company-list, .crm-company-details, .crm-order-list, .crm-order-detail {
    width: 100%;
    min-height: auto;
  }
}

.crm-order-list {
  padding-bottom: 10px;
}

@media screen and (width <= 600px) {
  .crm-orders {
    background-color: gray;
  }
}

.label {
  margin-right: 5px;
}

/*# sourceMappingURL=index.d05a4245.css.map */
