.app-wrapper {
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
}

.container {
  flex: 1;
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (width <= 768px) {
  .app-wrapper {
    background-color: #add8e6;
    max-width: 768px;
    margin: 0 auto;
  }

  .navUser-wrapper {
    background-color: #000;
  }

  .container {
    background-color: #ff0;
    max-width: 768px;
    margin: 0 auto;
    padding: 10px;
  }
}

#signInDiv {
  text-align: center;
  margin: 20px auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #000;
  font-size: 24px;
}

@media screen and (width <= 768px) {
  h1 {
    font-size: 20.4px;
  }
}

@media screen and (width <= 600px) {
  h1 {
    font-size: 18px;
  }
}

h2 {
  color: gray;
  font-size: 20px;
}

@media screen and (width <= 768px) {
  h2 {
    font-size: 17px;
  }
}

@media screen and (width <= 600px) {
  h2 {
    font-size: 15px;
  }
}

@media screen and (width <= 768px) {
  h3 {
    font-size: 15.3px;
  }
}

@media screen and (width <= 600px) {
  h3 {
    font-size: 13.5px;
  }
}

p {
  color: gray;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  p {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  p {
    font-size: 10.5px;
  }
}

.button, input[type="submit"] {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
}

@media screen and (width <= 768px) {
  .button, input[type="submit"] {
    font-size: 10.2px;
  }
}

@media screen and (width <= 600px) {
  .button, input[type="submit"] {
    font-size: 9px;
  }
}

.button:hover, input[type="submit"]:hover {
  background-color: #1a6d7a;
}

.button:disabled, input[type="submit"]:disabled {
  color: #666;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ccc;
}

.button.cancel {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
}

.button.cancel:hover {
  background-color: #ff3030;
}

.button.cancel:disabled {
  color: #666;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ccc;
}

@media screen and (width <= 768px) {
  .button.cancel {
    font-size: 10.2px;
  }
}

@media screen and (width <= 600px) {
  .button.cancel {
    font-size: 9px;
  }
}

.successWarning {
  color: #3d9900;
}

.errorWarning {
  color: #ff3030;
}

.clickable {
  cursor: pointer;
  color: #26bfd4;
}

.clickable:hover {
  color: #1a6d7a;
}

.tasks-wrapper {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.userNav-wrapper {
  width: 100%;
}

.auth-wrapper {
  box-sizing: border-box;
  background-color: #f6f6f6;
  border-radius: 5px;
  min-width: 75%;
  max-width: 100%;
  margin: 0;
  padding: 10px 20px;
  box-shadow: 0 0 5px #0000001a;
}

.google-login {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  display: flex;
}

.user-wrapper {
  text-align: center;
}

.user-wrapper .sign-out-button {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  margin-top: 5px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
}

@media screen and (width <= 768px) {
  .user-wrapper .sign-out-button {
    font-size: 10.2px;
  }
}

@media screen and (width <= 600px) {
  .user-wrapper .sign-out-button {
    font-size: 9px;
  }
}

.user-wrapper .sign-out-button:disabled {
  color: #666;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ccc;
}

.user-wrapper .sign-out-button:hover {
  background-color: #ff3030;
}

.user-wrapper .user-details {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  display: flex;
}

.user-wrapper .user-details .user-avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.user-wrapper .user-details .user-text {
  text-align: center;
}

.user-wrapper .user-details .user-text h3, .user-wrapper .user-details .user-text p {
  margin: 0;
}

.auth-wrapper {
  width: 100%;
}

.nav-wrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
  justify-content: space-evenly;
  width: 98%;
  min-width: 75%;
  max-width: 100%;
  margin: 20px 0 0;
  padding: 10px 20px;
  display: flex;
  box-shadow: 0 0 5px #0000001a;
}

.nav-wrapper .nav-link {
  color: #26bfd4;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  transition: color .3s;
}

@media screen and (width <= 768px) {
  .nav-wrapper .nav-link {
    font-size: 14.45px;
  }
}

@media screen and (width <= 600px) {
  .nav-wrapper .nav-link {
    font-size: 12.75px;
  }
}

.nav-wrapper .nav-link:hover {
  color: #1a6d7a;
}

@media screen and (width <= 768px) {
  .nav-wrapper .nav-link:not(:last-child) {
    margin-right: 10px;
  }

  .nav-wrapper {
    background-color: red;
  }
}

.home-wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  display: flex;
  position: relative;
}

h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

h3 {
  color: #000;
  font-size: 18px;
}

.custom-image {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.footer-container {
  background-color: #f6f6f6;
  padding: 5px 20px;
}

.footer-wrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 75%;
  max-width: 100%;
  min-height: 75px;
  margin: 8px 0 0;
  padding: 10px 20px;
  display: grid;
  box-shadow: 0 0 5px #0000001a;
}

.footer-wrapper .footer-Col {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

@media screen and (width <= 768px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
  }

  .footer-wrapper .footer {
    max-width: 100%;
  }
}

.oauth-form-container {
  box-shadow: 0 0 5px #0000001a;
  box-shadow: none;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-width: 75%;
  max-width: 95%;
  margin: 5px auto;
  padding: 10px 20px;
  display: flex;
}

.oauth-form-container form {
  width: 100%;
}

.oauth-form-container form .input-group {
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.oauth-form-container form .input-group label {
  color: gray;
  min-width: 350px;
  max-width: 350px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .oauth-form-container form .input-group label {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .oauth-form-container form .input-group label {
    font-size: 10.5px;
  }
}

.oauth-form-container form .input-group input[type="text"], .oauth-form-container form .input-group input[type="email"], .oauth-form-container form .input-group input[type="password"] {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  margin-bottom: 12px;
  padding: 5px;
}

.oauth-form-container .signLogButton {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
}

.oauth-form-container .signLogButton button {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  margin-right: 15px;
  padding: 10px 20px;
  font-weight: 600;
  transition: background-color .2s;
}

.oauth-form-container .signLogButton button:hover {
  background-color: #1a6d7a;
}

.oauth-form-container .signLogButton button:disabled {
  color: #666;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ccc;
}

.oauth-form-container .error, .oauth-form-container .success {
  color: gray;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .oauth-form-container .error, .oauth-form-container .success {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .oauth-form-container .error, .oauth-form-container .success {
    font-size: 10.5px;
  }
}

.oauth-form-container .error {
  color: #ff3030;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .oauth-form-container .error {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .oauth-form-container .error {
    font-size: 10.5px;
  }
}

.oauth-form-container .success {
  color: #3d9900;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .oauth-form-container .success {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .oauth-form-container .success {
    font-size: 10.5px;
  }
}

.home-wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  display: flex;
  position: relative;
}

h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

h3 {
  color: #000;
  font-size: 18px;
}

.custom-image {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.app-wrapper {
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
}

.container {
  flex: 1;
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (width <= 768px) {
  .app-wrapper {
    background-color: #add8e6;
    max-width: 768px;
    margin: 0 auto;
  }

  .navUser-wrapper {
    background-color: #000;
  }

  .container {
    background-color: #ff0;
    max-width: 768px;
    margin: 0 auto;
    padding: 10px;
  }
}

#signInDiv {
  text-align: center;
  margin: 20px auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #000;
  font-size: 24px;
}

@media screen and (width <= 768px) {
  h1 {
    font-size: 20.4px;
  }
}

@media screen and (width <= 600px) {
  h1 {
    font-size: 18px;
  }
}

h2 {
  color: gray;
  font-size: 20px;
}

@media screen and (width <= 768px) {
  h2 {
    font-size: 17px;
  }
}

@media screen and (width <= 600px) {
  h2 {
    font-size: 15px;
  }
}

h3 {
  color: #000;
  font-size: 18px;
}

@media screen and (width <= 768px) {
  h3 {
    font-size: 15.3px;
  }
}

@media screen and (width <= 600px) {
  h3 {
    font-size: 13.5px;
  }
}

p {
  color: gray;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  p {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  p {
    font-size: 10.5px;
  }
}

.button, input[type="submit"] {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
}

@media screen and (width <= 768px) {
  .button, input[type="submit"] {
    font-size: 10.2px;
  }
}

@media screen and (width <= 600px) {
  .button, input[type="submit"] {
    font-size: 9px;
  }
}

.button:hover, input[type="submit"]:hover {
  background-color: #1a6d7a;
}

.button:disabled, input[type="submit"]:disabled {
  color: #666;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ccc;
}

.button.cancel {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
}

.button.cancel:hover {
  background-color: #ff3030;
}

.button.cancel:disabled {
  color: #666;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ccc;
}

@media screen and (width <= 768px) {
  .button.cancel {
    font-size: 10.2px;
  }
}

@media screen and (width <= 600px) {
  .button.cancel {
    font-size: 9px;
  }
}

.successWarning {
  color: #3d9900;
}

.errorWarning {
  color: #ff3030;
}

.clickable {
  cursor: pointer;
  color: #26bfd4;
}

.clickable:hover {
  color: #1a6d7a;
}

.tasks-wrapper {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.form-container {
  width: 80%;
  margin: 0 auto;
}

.form-container .input-group {
  gap: 25px;
  margin-bottom: 10px;
  display: flex;
}

@media screen and (width <= 768px) {
  .form-container .input-group {
    flex-direction: column;
    gap: 8px;
  }
}

.form-container label {
  flex-direction: column;
  flex: 50%;
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
}

@media screen and (width <= 768px) {
  .form-container label {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .form-container label {
    font-size: 10.5px;
  }
}

.form-container label input, .form-container label select {
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 2px;
  padding: 5px;
}

.form-container label select {
  border: 1px solid #26bfd4;
  padding: 4px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

table th, table td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  table th, table td {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  table th, table td {
    font-size: 10.5px;
  }
}

table th.sortable {
  cursor: pointer;
}

table th {
  background-color: #9e9e9e;
}

table .sort-indicator {
  color: #f6f6f6;
  font-size: .8em;
}

table tr:nth-child(2n) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #f5f5f5;
}

.footer-container {
  background-color: #f6f6f6;
  padding: 5px 20px;
}

.footer-wrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 75%;
  max-width: 100%;
  min-height: 75px;
  margin: 8px 0 0;
  padding: 10px 20px;
  display: grid;
  box-shadow: 0 0 5px #0000001a;
}

.footer-wrapper .footer-Col {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

@media screen and (width <= 768px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
  }

  .footer-wrapper .footer {
    max-width: 100%;
  }
}

/*# sourceMappingURL=index.d05a4245.css.map */
