.app-wrapper {
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
}

.container {
  border: 1px solid #00f;
  flex: 1;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 10px;
}

@media screen and (width <= 768px) {
  .app-wrapper {
    background-color: #add8e6;
    max-width: 768px;
    margin: 0 auto;
  }

  .navUser-wrapper {
    background-color: #000;
  }

  .container {
    background-color: #ff0;
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
  }
}

#signInDiv {
  text-align: center;
  margin: 20px auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #000;
  font-size: 24px;
}

@media screen and (width <= 768px) {
  h1 {
    font-size: 20.4px;
  }
}

@media screen and (width <= 600px) {
  h1 {
    font-size: 18px;
  }
}

h2 {
  color: gray;
  font-size: 20px;
}

@media screen and (width <= 768px) {
  h2 {
    font-size: 17px;
  }
}

@media screen and (width <= 600px) {
  h2 {
    font-size: 15px;
  }
}

h3 {
  color: #000;
  font-size: 18px;
}

@media screen and (width <= 768px) {
  h3 {
    font-size: 15.3px;
  }
}

@media screen and (width <= 600px) {
  h3 {
    font-size: 13.5px;
  }
}

p {
  color: gray;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  p {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  p {
    font-size: 10.5px;
  }
}

button, input[type="submit"] {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  height: auto;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
}

@media screen and (width <= 768px) {
  button, input[type="submit"] {
    font-size: 10.2px;
  }
}

@media screen and (width <= 600px) {
  button, input[type="submit"] {
    font-size: 9px;
  }
}

button:hover, input[type="submit"]:hover {
  background-color: #026f7e;
}

button:disabled, input[type="submit"]:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

button.cancel {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  height: auto;
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
}

button.cancel:hover {
  background-color: #ff3030;
}

button.cancel:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

@media screen and (width <= 768px) {
  button.cancel {
    font-size: 10.2px;
  }
}

@media screen and (width <= 600px) {
  button.cancel {
    font-size: 9px;
  }
}

input, select {
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 2px;
  padding: 5px;
}

input:focus, select:focus {
  border-color: #000;
  outline: none;
}

select {
  border: 1px solid #26bfd4;
  padding: 4px;
}

.successWarning {
  color: #3d9900;
}

.errorWarning {
  color: #ff3030;
}

.clickable {
  cursor: pointer;
  color: #26bfd4;
}

.clickable:hover {
  color: #026f7e;
}

.tasks-wrapper {
  grid-template-columns: 1fr 1fr;
  place-items: center;
  display: grid;
}

.svg-inline--fa {
  margin-right: 5px;
}

.auth-wrapper {
  width: 100%;
}

.nav-wrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
  justify-content: space-evenly;
  width: 98%;
  min-width: 90%;
  max-width: 100%;
  margin: 20px 0 0;
  padding: 10px 20px;
  display: flex;
  box-shadow: 0 0 15px #00000019;
}

.nav-wrapper .nav-link {
  color: #26bfd4;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  transition: color .3s;
}

@media screen and (width <= 768px) {
  .nav-wrapper .nav-link {
    font-size: 14.45px;
  }
}

@media screen and (width <= 600px) {
  .nav-wrapper .nav-link {
    font-size: 12.75px;
  }
}

.nav-wrapper .nav-link:hover {
  color: #026f7e;
}

@media screen and (width <= 768px) {
  .nav-wrapper .nav-link:not(:last-child) {
    margin-right: 10px;
  }
}

.nav-wrapper .active-link {
  color: #015661;
  font-weight: 700;
}

@media screen and (width <= 768px) {
  .nav-wrapper {
    background-color: #ff3030;
  }
}

.popup-container {
  z-index: 1000;
  background: #00000080;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0;
}

.popup-wrapper {
  z-index: 1001;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

.popup-content {
  text-align: left;
  padding: 5px 20px 5px 5px;
}

.close-btn {
  cursor: pointer;
  background: none;
  border: 1px solid #ddd;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.auth-wrapper {
  width: 100%;
}

.auth-wrapper .userNav-wrapper {
  box-sizing: border-box;
  z-index: 1000;
  background-color: #f6f6f6;
  border-radius: 5px;
  width: 100%;
  min-width: 90%;
  max-width: 100%;
  margin: 0;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  box-shadow: 0 0 15px #00000019;
}

.auth-wrapper .google-login {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  display: flex;
}

.auth-wrapper .user-wrapper {
  text-align: center;
}

.auth-wrapper .user-wrapper .sign-out-button {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  height: auto;
  margin-top: 5px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s;
}

@media screen and (width <= 768px) {
  .auth-wrapper .user-wrapper .sign-out-button {
    font-size: 10.2px;
  }
}

@media screen and (width <= 600px) {
  .auth-wrapper .user-wrapper .sign-out-button {
    font-size: 9px;
  }
}

.auth-wrapper .user-wrapper .sign-out-button:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.auth-wrapper .user-wrapper .sign-out-button:hover {
  background-color: #ff3030;
}

.auth-wrapper .user-wrapper .user-details {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  display: flex;
}

.auth-wrapper .user-wrapper .user-details .user-avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.auth-wrapper .user-wrapper .user-details .user-text {
  text-align: center;
}

.auth-wrapper .user-wrapper .user-details .user-text h3, .auth-wrapper .user-wrapper .user-details .user-text p {
  margin: 0;
}

.oauth-form-container {
  box-shadow: 0 0 15px #00000019;
  box-shadow: none;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-width: 90%;
  max-width: 95%;
  margin: 5px auto;
  padding: 10px 20px;
  display: flex;
}

.oauth-form-container form {
  width: 100%;
}

.oauth-form-container form .input-group {
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.oauth-form-container form .input-group label {
  color: gray;
  min-width: 350px;
  max-width: 350px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .oauth-form-container form .input-group label {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .oauth-form-container form .input-group label {
    font-size: 10.5px;
  }
}

.oauth-form-container form .input-group input[type="text"], .oauth-form-container form .input-group input[type="email"], .oauth-form-container form .input-group input[type="password"] {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  margin-bottom: 12px;
  padding: 5px;
}

.oauth-form-container .signLogButton {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
}

.oauth-form-container .signLogButton button {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  height: auto;
  margin-right: 15px;
  padding: 10px 20px;
  font-weight: 600;
  transition: background-color .2s;
}

.oauth-form-container .signLogButton button:hover {
  background-color: #026f7e;
}

.oauth-form-container .signLogButton button:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.oauth-form-container .error, .oauth-form-container .success {
  color: gray;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .oauth-form-container .error, .oauth-form-container .success {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .oauth-form-container .error, .oauth-form-container .success {
    font-size: 10.5px;
  }
}

.oauth-form-container .error {
  color: #ff3030;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .oauth-form-container .error {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .oauth-form-container .error {
    font-size: 10.5px;
  }
}

.oauth-form-container .success {
  color: #3d9900;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .oauth-form-container .success {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .oauth-form-container .success {
    font-size: 10.5px;
  }
}

.home-wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  display: flex;
  position: relative;
}

h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

h3 {
  color: #000;
  font-size: 18px;
}

.custom-image {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.form-container {
  width: 80%;
  margin: 0 auto;
}

.form-container .input-group {
  gap: 25px;
  margin-bottom: 10px;
  display: flex;
}

@media screen and (width <= 768px) {
  .form-container .input-group {
    flex-direction: column;
    gap: 8px;
  }
}

.form-container label {
  flex-direction: column;
  flex: 50%;
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
}

@media screen and (width <= 768px) {
  .form-container label {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .form-container label {
    font-size: 10.5px;
  }
}

.form-container label select {
  border: 1px solid #26bfd4;
  padding: 4px;
}

table .horizontal-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

table .horizontal-table th, table .horizontal-table td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  table .horizontal-table th, table .horizontal-table td {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  table .horizontal-table th, table .horizontal-table td {
    font-size: 10.5px;
  }
}

table .horizontal-table th {
  color: #f6f6f6;
  font-weight: none;
}

table th.sortable {
  cursor: pointer;
}

table th {
  color: #f6f6f6;
  background-color: #464646;
}

table .sort-indicator {
  color: #f6f6f6;
  font-size: .8em;
}

table tr:nth-child(2n) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #f5f5f5;
}

.footer-container {
  background-color: #f6f6f6;
  width: 100%;
}

.footer-container .footer-wrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 90%;
  max-width: 100%;
  min-height: 75px;
  margin: 8px 0 0;
  padding: 10px 20px;
  display: grid;
  box-shadow: 0 0 15px #00000019;
}

.footer-container .footer-wrapper .footer-Col {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

@media screen and (width <= 768px) {
  .footer-container .footer-wrapper {
    grid-template-columns: 1fr;
  }

  .footer-container .footer-wrapper .footer {
    max-width: 100%;
  }
}

.crm-company-list .section-title {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 600;
}

.crm-company-list .company-filter {
  justify-content: space-around;
  margin-bottom: 8px;
  display: flex;
}

.crm-company-list .company-filter .filter {
  flex-basis: 50%;
}

.crm-company-list .company-filter .filter label {
  text-align: center;
  margin-bottom: 5px;
  display: block;
}

.crm-company-list .company-filter .filter select {
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 2px;
  padding: 5px;
}

.crm-company-list .company-filter .filter select:focus {
  border-color: #000;
  outline: none;
}

.crm-company-list .crm-company-list .section-btns {
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  display: flex;
}

.crm-company-list .crm-company-list .section-btns .btn {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border: none;
  border-radius: 4px;
  width: 45%;
  height: 25px;
  padding: 0 20px;
  font-weight: 600;
  transition: background-color .2s;
}

.crm-company-list .crm-company-list .section-btns .btn:hover {
  background-color: #026f7e;
}

.crm-company-list .crm-company-list .section-btns .btn:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.crm-company-list .filtered-companies .company-item {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 2px;
  transition: background-color .3s;
}

.crm-company-list .filtered-companies .company-item p {
  color: #000;
  text-align: center;
}

.crm-company-list .filtered-companies .company-item:hover:not(.selected-company) {
  background-color: #f0f0f0;
}

.crm-company-list .filtered-companies .company-item.selected-company {
  color: #f6f6f6;
  background-color: #26bfd4;
}

.crm-company-detail .section-title {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 600;
}

.crm-company-detail .vertical-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.crm-company-detail .vertical-table tr th, .crm-company-detail .vertical-table tr td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (width <= 768px) {
  .crm-company-detail .vertical-table tr th, .crm-company-detail .vertical-table tr td {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .crm-company-detail .vertical-table tr th, .crm-company-detail .vertical-table tr td {
    font-size: 10.5px;
  }
}

.crm-company-detail .vertical-table tr td:first-child {
  color: #f6f6f6;
  text-align: right;
  background-color: #464646;
}

.crm-company-detail .vertical-table tr td:nth-child(2n) {
  text-align: center;
}

.crm-company-detail .vertical-table tr td:nth-child(2n):hover {
  background-color: #f5f5f5;
}

.crm-order-list .section-title {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
}

.crm-order-list .order-filter {
  justify-content: space-around;
  margin-bottom: 8px;
  display: flex;
}

.crm-order-list .order-filter .filter {
  flex-basis: 50%;
}

.crm-order-list .order-filter .filter label {
  text-align: center;
  margin-bottom: 5px;
  display: block;
}

.crm-order-list .order-filter .filter select {
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 2px;
  padding: 5px;
}

.crm-order-list .order-filter .filter select:focus {
  border-color: #000;
  outline: none;
}

.crm-order-list .order-filter .section-btns {
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.crm-order-list .crm-order-list .section-btns {
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  display: flex;
}

.crm-order-list .crm-order-list .section-btns .btn {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border: none;
  border-radius: 4px;
  width: 25%;
  height: 25px;
  padding: 0 20px;
  font-weight: 600;
  transition: background-color .2s;
}

.crm-order-list .crm-order-list .section-btns .btn:hover {
  background-color: #026f7e;
}

.crm-order-list .crm-order-list .section-btns .btn:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.crm-order-list .crm-order-list .section-btns .downloader {
  color: #026f7e;
  background-color: #fff;
  border: 1px solid #000;
  width: 20%;
  transition: color .2s;
}

.crm-order-list .crm-order-list .section-btns .downloader:hover {
  color: #ff3030;
  background-color: #fff;
}

.crm-order-list .crm-order-list .section-btns a {
  color: #026f7e;
  background-color: none;
  font-size: 16px;
}

@media screen and (width <= 768px) {
  .crm-order-list .crm-order-list .section-btns a {
    font-size: 13.6px;
  }
}

@media screen and (width <= 600px) {
  .crm-order-list .crm-order-list .section-btns a {
    font-size: 12px;
  }
}

.crm-order-list .crm-order-list .section-btns span {
  color: #026f7e;
  font-size: 16px;
}

@media screen and (width <= 768px) {
  .crm-order-list .crm-order-list .section-btns span {
    font-size: 13.6px;
  }
}

@media screen and (width <= 600px) {
  .crm-order-list .crm-order-list .section-btns span {
    font-size: 12px;
  }
}

.crm-order-list .filtered-orders .order-item {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.crm-order-list .filtered-orders .order-item p {
  color: #000;
}

.crm-order-list .filtered-orders .order-item:hover {
  background-color: #f0f0f0;
}

.crm-order-list .horizontal-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.crm-order-list .horizontal-table th, .crm-order-list .horizontal-table td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .crm-order-list .horizontal-table th, .crm-order-list .horizontal-table td {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .crm-order-list .horizontal-table th, .crm-order-list .horizontal-table td {
    font-size: 10.5px;
  }
}

.crm-order-list .horizontal-table th {
  color: #f6f6f6;
  font-weight: none;
}

.crm-order-list table {
  width: 100%;
}

.crm-order-list table .horizontal-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.crm-order-list table .horizontal-table th, .crm-order-list table .horizontal-table td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .crm-order-list table .horizontal-table th, .crm-order-list table .horizontal-table td {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .crm-order-list table .horizontal-table th, .crm-order-list table .horizontal-table td {
    font-size: 10.5px;
  }
}

.crm-order-list table .horizontal-table th {
  color: #f6f6f6;
  font-weight: none;
}

.crm-order-list table th, .crm-order-list table td {
  cursor: pointer;
}

.crm-order-list table tr:hover {
  background-color: #ddd;
}

.crm-order-detail .section-title {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
}

.crm-order-detail .order-filter {
  justify-content: space-around;
  margin-bottom: 8px;
  display: flex;
}

.crm-order-detail .order-filter .filter {
  flex-basis: 50%;
}

.crm-order-detail .order-filter .filter label {
  text-align: center;
  margin-bottom: 5px;
  display: block;
}

.crm-order-detail .order-filter .filter select {
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 2px;
  padding: 5px;
}

.crm-order-detail .order-filter .filter select:focus {
  border-color: #000;
  outline: none;
}

.crm-order-detail .order-filter .section-btns {
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.crm-order-detail .order-filter .section-btns .btn {
  color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  background-color: #26bfd4;
  border: none;
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 10px 20px;
  font-weight: 600;
  transition: background-color .2s;
}

.crm-order-detail .order-filter .section-btns .btn:hover {
  background-color: #026f7e;
}

.crm-order-detail .order-filter .section-btns .btn:disabled {
  color: #424242;
  cursor: not-allowed;
  opacity: .5;
  background-color: #ddd;
}

.crm-order-detail .filtered-orders .order-item {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.crm-order-detail .filtered-orders .order-item p {
  color: #000;
}

.crm-order-detail .filtered-orders .order-item:hover {
  background-color: #f0f0f0;
}

.crm-order-detail .horizontal-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.crm-order-detail .horizontal-table th, .crm-order-detail .horizontal-table td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .crm-order-detail .horizontal-table th, .crm-order-detail .horizontal-table td {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .crm-order-detail .horizontal-table th, .crm-order-detail .horizontal-table td {
    font-size: 10.5px;
  }
}

.crm-order-detail .horizontal-table th {
  color: #f6f6f6;
  font-weight: none;
}

.crm-order-detail table {
  width: 100%;
}

.crm-order-detail table .horizontal-table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
}

.crm-order-detail table .horizontal-table th, .crm-order-detail table .horizontal-table td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

@media screen and (width <= 768px) {
  .crm-order-detail table .horizontal-table th, .crm-order-detail table .horizontal-table td {
    font-size: 11.9px;
  }
}

@media screen and (width <= 600px) {
  .crm-order-detail table .horizontal-table th, .crm-order-detail table .horizontal-table td {
    font-size: 10.5px;
  }
}

.crm-order-detail table .horizontal-table th {
  color: #f6f6f6;
  font-weight: none;
}

.crm-order-detail table th, .crm-order-detail table td {
  cursor: pointer;
}

.crm-order-detail table tr:hover {
  background-color: #ddd;
}

.input, select {
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 2px;
  padding: 5px;
}

.input:focus, select:focus {
  border-color: #000;
  outline: none;
}

.container {
  flex-direction: column;
  width: 99%;
  height: 100%;
  display: flex;
}

.crm-main {
  flex-grow: 1;
  gap: 5px;
  margin: 0;
  display: flex;
}

.crm-companies {
  flex-direction: column;
  flex-basis: 33.33%;
  display: flex;
  box-shadow: 0 0 15px #00000019;
}

.crm-orders {
  flex-direction: column;
  flex-basis: 66.67%;
  display: flex;
  box-shadow: 0 0 15px #00000019;
}

.crm-company-list, .crm-company-details, .crm-order-list, .crm-order-detail {
  flex-grow: 1;
  box-shadow: 0 0 15px #00000019;
}

.custom-image img {
  width: 60%;
  max-width: 600px;
  margin-top: 10px;
}

/*# sourceMappingURL=index.d05a4245.css.map */
